[submodule "ec-web-ui"]
	path = ec-web-ui
	url = https://gitlab.com/digital-fo/connectivity/enterprise-connect/predix/ec-px-service-webui.git
[submodule "assets"]
	path = assets
	url = https://gitlab.com/digital-fo/connectivity/enterprise-connect/predix/ec-px-service-assets.git